div{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

#header-row{
    margin-top: 5%;
    height: 100px;
    text-align: center;    
}

#logo {
    line-height: 90px;
}

#login {
    padding-top: 30px;