/* 
div, img{
    border-style: solid;
    border-color: red;
    border-width: 1px;
} */

#title{
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:  white;
}

#doodad{
    color: green;
    font-weight: bold;
    font-size: 15px;
}

.article {
    margin: 10px;
    border: 1px solid #dcdcdc;
    border-right-width: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 1050px;
}

.border {
    margin-right: 20px;
    margin: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

/* This is for the articles inside the .border */

.title {
    text-decoration: underline;
    
}

.snippet {
    font-style: italic;
    text-align: left;
}             

.articleLink {
    text-decoration: underline;
}

#header-row{
    margin-top: 2%;
    height: auto;                         
    text-align: left; 
    font-family: 'Maven Pro', sans-serif;   
    font-size: 35px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(4, 4, 92);
}

#logo-row{
    height: auto;
    margin-top: 10px;
}


#logo-img{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#input-row {
    margin-top: 20px;   
}

#walkie-title {
    width: 600px;
    display: block;
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1)
}

#parameters {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 62px 55px 65px 55px;

    box-shadow: 0 3px 20px 0px rgba(0, 0 , 0, 0.1);
}
#language {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 62px 55px 65px 55px;

    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#yanex {
    padding-left: 40px;
}

#login{
    padding-top: 10px;
}

#logout{
    padding-top: 10px;
    padding-left: 0px;   
}
/* -------MODAL FORMATTING-------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #languages{
    max-height:300px;
   overflow-x:hidden;
   overflow-y:auto; 
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* --------------------------------------- */

#articles-header{
margin-top: 20px;
font-size: 25px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: rgb(4, 4, 92);
}

#publications{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

#articles-header{
    font-size: 25px;
}

#articles{
    margin-top: 5px;
    height: auto;
    width: 100%;
}

#logo-row{
    border-bottom: 2px, double, black;

}

.modal-backdrop {
    z-index: -1;
}

#modal-favorites, #modal-article {
    width: 1200px;
    position: relative;
    right: 200px;
}

